
/* Variables para estilos Globales */

/* Paleta de colores para la web */
:root {
    --color-negro: #373F51;
    --color-azul: #58A4B0;
    --color-azul-claro: #A9BCD0;
    --color-blanco: #D8DBE2;
    --color-salmon: #DAA49A;
}

/* Estilos para resetear los valores predeterminados */
* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    border: none;
    outline: none;
}

/* Obtenido de https://uiverse.io/kennyotsu-monochromia/spotty-cheetah-65*/
.container {
    width: 100%;
    height: 100%;
    --color: #E1E1E1;
    background-color: #F3F3F3;
    background-image: linear-gradient(0deg, transparent 24%, var(--color) 25%, var(--color) 26%, transparent 27%,transparent 74%, var(--color) 75%, var(--color) 76%, transparent 77%,transparent),
        linear-gradient(90deg, transparent 24%, var(--color) 25%, var(--color) 26%, transparent 27%,transparent 74%, var(--color) 75%, var(--color) 76%, transparent 77%,transparent);
    background-size: 55px 55px;
  }

/* Defino el estilo de los elementos */
body {
    font-family: Verdana;
    display: flex;
    flex-direction: column;
}

html, body {
    height: 100%;
}

/* Estilos de las tipografias */
h1 {
    font-size: 3rem;
    color: var(--color-blanco);
}
h2 {
    font-size: 2rem;
    margin-bottom: 0.5rem;
}
button {
    font-size: 1rem;
    color: var(--color-blanco);
}

/* Configuro el header */
header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--color-negro);
    padding: 0.5rem;
    box-shadow: 0 10px 5px 0 var(--color-azul-claro);
}

/* Configuro el menu principal */
.menu-principal {
    margin-top: 1rem;
}

.enlaces {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 1rem;
}

/* Menu Desplegable */
.menu-desplegable {
    display: none;
    background: none;
    border: none;
    color: var(--color-blanco);
    font-size: 2rem;
    cursor: pointer;
    transition: all 0.25s;
}
.menu-desplegable:hover {
    transform: scale(1,0.75);
    color: var(--color-azul);
}

/* Estilo de los botones */
button {
    background-color: var(--color-azul);
    border-radius: 0.5rem;
    padding: 0.5rem;
    cursor: pointer;
    transition: all 0.25s;
}

button:hover {
    color: var(--color-negro);
    background-color: var(--color-azul-claro);
}

/* Configuro el estilo del main */
main {
    flex: 1;
    margin: 2rem 0;
    text-align: center;
}

table {
    margin: auto;
    text-align: center;
}

table, th, td {
    border: 2px solid var(--color-azul-claro);
    border-collapse: collapse;
}

th{
    font-size: 1.25rem;
    padding: 0.25rem;
    color: var(--color-blanco);
    background-color: var(--color-negro);
}

td {
    padding: 0.5rem;
}

td button {
    background-color: var(--color-negro);
    color: var(--color-blanco);
}

td button:hover {
    background-color: var(--color-blanco);
    color: var(--color-negro);
}

tr {
    background-color: var(--color-blanco);
}

tr:nth-child(2n+2) {
    background-color: var(--color-azul);
    color: var(--color-blanco);
}

form {
    display: flex;
    flex-direction: column;
    margin: auto;
    text-align: left;
    width: 30rem;
    padding: 0.5rem 2rem;
    background-color: var(--color-negro);
    border: 2px solid var(--color-azul);
    border-radius: 2rem;
}

form h1 {
    font-size: 1.5rem;
    text-align: center;
    border-bottom: 1px solid var(--color-azul);
    margin-bottom: 0.5rem;
    color: var(--color-salmon);
}

form h2 {
    font-size: 1.25rem;
    text-align: center;
    margin-top: 1rem;
    color: var(--color-azul-claro);
    border-bottom: 1px solid var(--color-azul);
}

label {
    font-size: 1rem;
    font-weight: bold;
    margin-bottom: 0.25rem;
    color: var(--color-blanco);
}

input {
    padding: 0.5rem;
    background-color: var(--color-blanco);
    border: 2px solid var(--color-negro);
    border-radius: 1rem;
}

input:focus {
    border: 2px solid var(--color-salmon);
}

form button {
    width: 10rem;
    margin-top: 2rem;
    align-self: center;
}

/* Configuro el footer */
footer {
    bottom: 0;
    text-align: center;
    background-color: var(--color-negro);
    color: var(--color-blanco);
    box-shadow: 0 -5px 5px 0 var(--color-azul-claro);
    font-size: 0.75rem;
    padding: 0.5rem;
}


@media (min-width: 320px) {
    h1 {
        font-size: 1.5rem;
    }
    button {
        font-size: 0.75rem;
    }
    header {
        flex-direction: row;
        gap: 1rem;
    }
    .menu-desplegable {
        display: block;
    }
    .enlaces {
        text-align: center;
        flex-direction: column;
        align-items: center;
        position: absolute;
        right: 0;
        transform: translateY(-1rem);
        visibility: hidden;
        gap: 0.5rem;
        padding: 1rem;
    }
    .enlaces.activo {
        visibility: visible;
        top: 3rem;
        background-color: var(--color-negro);
        transform: translateY(0);
        transition: all 0.5s;
        z-index: 1;
    }
    form {
        width: 14rem;
    }
    form h1 {
        font-size: 1.5rem;
    }
    form h2 {
        font-size: 1rem;
    }
    label {
        font-size: 0.75rem;
    }
    th {
        font-size: 0.75rem;
        padding: 0.15rem;
    }
    td {
        font-size: 0.75rem;
        padding: 0.25rem;
    }
}

@media (min-width: 1024px) {
    h1 {
        font-size: 2rem;
    }
    button {
        font-size: 1rem;
    }
    header {
        flex-direction: column;
    }
    .menu-desplegable {
        display: none;
    }
    .enlaces {
        flex-direction: row;
        align-items: center;
        position: relative;
        visibility: visible;
        gap: 1rem;
        padding: 0;
    }
    .enlaces.activo {
        top: 0rem;
        background-color: none;
        z-index: 1;
    }
    form {
        width: 30rem;
    }
    form h1 {
        font-size: 1.5rem;
    }
    form h2 {
        font-size: 1.25rem;
    }
    label {
        font-size: 1rem;
    }
    th {
        font-size: 1.25rem;
        padding: 0.25rem;
    }
    td {
        font-size: 1rem;
        padding: 0.5rem;
    }
    footer {
        font-size: 0.75rem;
    }
}